*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: crimson;
}

.title{
  text-align: center;
  color: white;
}

.form_dati{
  width: 80%;
  height: 200px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: white;
}
